@import "colors";
@import "typography";

// Main buttons
$button-l: (
  background-color: $primary,
  color: white,
  font-size: 1rem,
  font-weight: 600,
  border-radius: 0.5rem,
  padding: 0.8125rem,
  border: none,
);

$button-m: map-merge(
  $button-l,
  (
    font-size: 0.875rem,
    border-radius: 0.375rem,
    padding: 0.6875rem,
  )
);

$button-s: map-merge(
  $button-l,
  (
    font-size: 0.875rem,
    border-radius: 0.25rem,
    padding: 0.5625rem,
  )
);

// Button type
$button-with-icon: map-merge(
  $button-s,
  (
    border-radius: 0.375rem,
    padding: 0.5625rem 1.25rem,
    display: flex,
    align-items: center,
    justify-content: center,
    width: auto,
    height: auto,
    gap: 0.5rem,
  )
);

// Market buttons
$button-app-store: (
  background-image: url("/buttons/appstore.svg"),
  background-size: cover,
  width: 11.25rem,
  height: 3.25rem,
  border: none,
);

$button-google-play: (
  background-image: url("/buttons/googleplay.svg"),
  background-size: cover,
  width: 11.25rem,
  height: 3.25rem,
  border: none,
);

$mobile-button-app-store: (
  background-image: url("/buttons/appstore.svg"),
  background-size: contain,
  width: 7.6875rem,
  height: 2rem,
  border: none,
);

$mobile-button-google-play: (
  background-image: url("/buttons/googleplay.svg"),
  background-size: contain,
  width: 7.6875rem,
  height: 2rem,
  border: none,
);

// rounded chevron button from ChatGPT
$carousel-button: (
  font-family: "Material Icons",
  background-color: #2196f3,
  // Example color
  width: 42px,
  height: 42px,
  border-radius: 50%,
  border: none,
  font-size: 2em,
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
);

$facebook-button: (
  background-image: url("/icons/bxl-facebook-square.svg"),
  width: 44px,
  height: 44px,
  border-radius: 6px,
  border: none,
  background-color: $secondary,
  background-size: 50%,
  background-position: center,
  background-repeat: no-repeat,
  cursor: pointer,
);
$twitter-button: (
  background-image: url("/icons/bxl-twitter.svg"),
  width: 44px,
  height: 44px,
  border-radius: 6px,
  border: none,
  background-color: $secondary,
  background-size: 50%,
  background-position: center,
  background-repeat: no-repeat,
  cursor: pointer,
);
$instagram-button: (
  background-image: url("/icons/bxl-instagram-alt.svg"),
  width: 44px,
  height: 44px,
  border-radius: 6px,
  border: none,
  background-color: $secondary,
  background-size: 50%,
  background-position: center,
  background-repeat: no-repeat,
  cursor: pointer,
);
$youtube-button: (
  background-image: url("/icons/bxl-youtube.svg"),
  width: 44px,
  height: 44px,
  border-radius: 6px,
  border: none,
  background-color: $secondary,
  background-size: 50%,
  background-position: center,
  background-repeat: no-repeat,
  cursor: pointer,
);
