// grayscale colors
$background-light: #f3f6ff;
$secondary: #eff2fc;
$divider-border: #e2e5f1;
$input-placeholder: #b4b7c9;
$muted-text: #9397ad;
$body-text: #565973;
$navigation: #33354d;
$heading-dark: #0b0f19;

// brand colors
$primary: #6366f1;
$gradient: linear-gradient(90deg, $primary 0%, #8b5cf6 50%, #d946ef 100%);

// system colors
$error: #ef4444;
$succes: #22c55e;
$warning: #ffba08;
$info: #4c82f7;
