@import "colors";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "typography";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

#contact-us {
  background-color: #f3f6ff;

  .contact-us-container {
    width: 100%;
    max-width: 81rem;
    margin: 0 auto;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    color: $primary;
    font-size: 14px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    .breadcrumb-link {
      display: flex;
      align-items: center;
      color: $muted-text;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    .material-icons-outlined {
      margin-right: 0.25rem;
    }

    .breadcrumb-divider {
      margin: 0 0.5rem;
    }
  }
}
