@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
#contact-us {
  background-color: #f3f6ff;
  height: 48.5625rem;
}
#contact-us .contact-us-container {
  width: 100%;
  max-width: 81rem;
  margin: 0 auto;
}
#contact-us .breadcrumb {
  display: flex;
  align-items: center;
  color: #6366f1;
  font-size: 14px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2.5rem;
}
#contact-us .breadcrumb .breadcrumb-link {
  display: flex;
  align-items: center;
  color: #9397ad;
  text-decoration: none;
}
#contact-us .breadcrumb .breadcrumb-link:hover {
  color: #6366f1;
}
#contact-us .breadcrumb .material-icons-outlined {
  margin-right: 0.25rem;
}
#contact-us .breadcrumb .breadcrumb-divider {
  margin: 0 0.5rem;
}
#contact-us .contact-elements {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 4.5rem;
  justify-content: space-between;
}
#contact-us .contact-elements .contact-info {
  display: flex;
  flex-direction: column;
  width: 24.375rem;
}
#contact-us .contact-elements .contact-info .email-us {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  margin-top: 4.5rem;
}
#contact-us .contact-elements .contact-info .email-us .email-us-text {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
#contact-us .contact-elements .contact-info .email-us .email-us-text .leave-message {
  display: flex;
  color: #6366f1;
  align-items: center;
  gap: 0.5rem;
}
#contact-us .contact-elements .contact-info .careers {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  margin-top: 2.8125rem;
}
#contact-us .contact-elements .contact-info .careers .careers-text {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
#contact-us .contact-elements .contact-info .careers .careers-text .send-application {
  display: flex;
  color: #6366f1;
  align-items: center;
  gap: 0.5rem;
}
#contact-us .contact-elements .consultation {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
#contact-us .contact-elements .consultation .consultation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
}
#contact-us .contact-elements .consultation .consultation-wrapper h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3.125rem;
  padding-top: 4.5rem;
  margin-bottom: 2.5rem;
  color: #0b0f19;
  font-size: 1.75rem;
  font-weight: 800;
  text-wrap: nowrap;
}
#contact-us .contact-elements .consultation .consultation-wrapper #full-name-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  gap: 0.25rem;
}
#contact-us .contact-elements .consultation .consultation-wrapper #full-name-form label {
  color: #0b0f19;
  font-size: 16px;
  font-weight: 600;
}
#contact-us .contact-elements .consultation .consultation-wrapper #full-name-form input {
  height: 2.5rem;
  border: 1px solid #d4d7e5;
  border-radius: 8px;
}/*# sourceMappingURL=contact-styles.css.map */