@import "mixins";
@import "colors";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "typography";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

#contact-us {
  background-color: #f3f6ff;
  position: relative;
  padding-bottom: 6.875rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 1;
  }
  .contact-us-container {
    width: 100%;
    max-width: 81rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    color: $primary;
    font-size: 14px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2.5rem;
    padding-bottom: 2rem;

    .breadcrumb-link {
      display: flex;
      align-items: center;
      color: $muted-text;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    .material-icons-outlined {
      margin-right: 0.25rem;
    }

    .breadcrumb-divider {
      margin: 0 0.5rem;
    }
  }

  .contact-elements {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    a.leave-message,
    a.send-application {
      @each $property, $value in $navigation-hover {
        #{$property}: $value;
      }
      display: flex;
      color: $primary;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      &:hover,
      &:focus {
        color: darken($primary, 25%);
      }

      &:active {
        color: lighten($primary, 10%);
      }

      .material-icons {
        margin-left: 0.5rem;
        transition: transform 0.3s ease;
      }

      &:hover .material-icons,
      &:focus .material-icons {
        transform: translateX(3px);
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      width: 24.375rem;
      padding-bottom: 127px;

      h1 {
        @each $property, $value in $heading-h1 {
          #{$property}: $value;
        }
      }

      img {
        width: 55px;
        height: 55px;
      }
      .email-us {
        display: flex;
        gap: 1.5rem;
        align-items: flex-start;
        margin-top: 4.5rem;

        .email-us-text {
          display: flex;
          flex-direction: column;
          gap: 1.5625rem;

          h4 {
            @each $property, $value in $heading-h4 {
              #{$property}: $value;
            }
          }

          p {
            @each $property, $value in $m-text {
              #{$property}: $value;
            }
          }
        }
      }

      .careers {
        display: flex;
        gap: 1.5rem;
        align-items: flex-start;
        margin-top: 45px;

        .careers-text {
          display: flex;
          flex-direction: column;
          gap: 1.5625rem;

          h4 {
            @each $property, $value in $heading-h4 {
              #{$property}: $value;
            }
          }
          p {
            @each $property, $value in $m-text {
              #{$property}: $value;
            }
          }
        }
      }
    }

    .consultation {
      position: absolute;
      bottom: -6.875rem;
      right: 0;
      background-color: white;
      z-index: 3;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .consultation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 4.375rem;
        padding-right: 4.375rem;

        h3 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 3.125rem;
          padding-top: 4.5rem;
          margin-bottom: 2.5rem;
          @each $property, $value in $heading-h3 {
            #{$property}: $value;
          }
          text-wrap: nowrap;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 8px;
          gap: 1.5rem;

          .form-group {
            gap: 0.25rem;
            display: flex;
            flex-direction: column;

            label {
              @include form-label;
            }

            input {
              @include form-input;
              font-size: 1.2rem;
            }

            select {
              @include form-input;
            }
          }

          input:focus,
          select:focus {
            outline: none;
            border: 2px solid $primary;
            box-shadow: 0 0 5px rgba($primary, 0.5);
          }
        }

        button[type="submit"] {
          @each $property, $value in $button-l {
            #{$property}: $value;
          }
          margin-bottom: 4.5rem;
          margin-top: 7.625rem;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.2s ease;

          &:hover,
          &:focus {
            background-color: darken($primary, 3%);
            transform: translateY(-2px);
          }

          &:active {
            background-color: lighten($primary, 5%);
          }
        }
      }
    }
  }
}

#map-section {
  .map-container {
    display: flex;
    width: 100%;
    max-width: 81rem;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 33.875rem;

    img {
      height: 482px;
      width: auto;
    }

    .addresses {
      display: flex;
      flex-direction: column;
      width: 31.25rem;
      align-items: center;
      gap: 3.125rem;
      height: 100%;

      .medical-center {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
        align-items: flex-start;
        text-align: left;
        max-width: 28rem;

        span {
          color: $primary;
        }

        h4 {
          @each $property, $value in $heading-h4 {
            #{$property}: $value;
          }
        }

        p {
          display: flex;
          align-items: center;
          @each $property, $value in $m-text {
            #{$property}: $value;
          }
        }

        .times-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          @each $property, $value in $m-text {
            #{$property}: $value;
          }

          b {
            @each $property, $value in $m-text-h {
              #{$property}: $value;
            }
          }
          .time-entry {
            display: flex;
            align-items: center;
            gap: 0.4375rem;

            .material-icons-outlined {
              color: $primary;
            }
          }

          .time-entry.no-icon {
            padding-left: 1.9375rem;
          }
        }
      }
      .socials-icons {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        width: 100%;
        max-width: 28rem;
      }
    }

    button {
      transition: none;
      box-shadow: none;
      transform: none;
      transition: none;
      &:hover {
        background-color: lighten($secondary, 1.2%);
        transform: scale(1.1);
      }

      transition: background-color 0.2s ease, transform 0.1s ease;

      &:focus,
      &:active {
        box-shadow: none;
        outline: none;
        transform: scale(1);
      }
    }

    .facebook {
      @each $property, $value in $facebook-button {
        #{$property}: $value;
      }
    }
    .twitter {
      @each $property, $value in $twitter-button {
        #{$property}: $value;
      }
    }
    .instagram {
      @each $property, $value in $instagram-button {
        #{$property}: $value;
      }
    }
    .youtube {
      @each $property, $value in $youtube-button {
        #{$property}: $value;
      }
    }
  }
}
