@import "mixins";
@import "colors";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "typography";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

#contact-us {
  background-color: #f3f6ff;
  position: relative;
  padding-bottom: 6.875rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 1;
  }

  .contact-us-container {
    width: 100%;
    max-width: 81rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    color: $primary;
    font-size: 14px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2.5rem;
    padding-bottom: 2rem;

    .breadcrumb-link {
      display: flex;
      align-items: center;
      color: $muted-text;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    .material-icons-outlined {
      margin-right: 0.25rem;
    }

    .breadcrumb-divider {
      margin: 0 0.5rem;
    }
  }

  .contact-elements {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    .contact-element {
      display: flex;
      gap: 1rem;
    }
    a.leave-message,
    a.send-application {
      @each $property, $value in $navigation-hover {
        #{$property}: $value;
      }
      display: flex;
      color: $primary;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      &:hover,
      &:focus {
        color: darken($primary, 25%);
      }

      &:active {
        color: lighten($primary, 10%);
      }

      .material-icons {
        margin-left: 0.5rem;
        transition: transform 0.3s ease;
      }

      &:hover .material-icons,
      &:focus .material-icons {
        transform: translateX(3px);
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      width: 24.375rem;
      padding-bottom: 127px;
      gap: 2rem;

      h1 {
        @each $property, $value in $heading-h1 {
          #{$property}: $value;
        }
      }

      img {
        width: 55px;
        height: 55px;
      }
      .email-us {
        display: flex;
        gap: 1.5rem;
        align-items: flex-start;
        margin-top: 4.5rem;
      }

      .email-us-text {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;

        h4 {
          @each $property, $value in $heading-h4 {
            #{$property}: $value;
          }
        }

        p {
          @each $property, $value in $m-text {
            #{$property}: $value;
          }
        }
      }

      .careers {
        display: flex;
        gap: 1.5rem;
        align-items: flex-start;
        margin-top: 45px;
      }

      .careers-text {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem;

        h4 {
          @each $property, $value in $heading-h4 {
            #{$property}: $value;
          }
        }
        p {
          @each $property, $value in $m-text {
            #{$property}: $value;
          }
        }
      }
    }

    .consultation {
      position: absolute;
      bottom: -6.875rem;
      right: 0;
      background-color: white;
      z-index: 3;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .consultation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 4.375rem;
        padding-right: 4.375rem;

        h3 {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 3.125rem;
          padding-top: 4.5rem;
          margin-bottom: 2.5rem;
          @each $property, $value in $heading-h3 {
            #{$property}: $value;
          }
          text-wrap: nowrap;
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 8px;
          gap: 1.5rem;

          .form-group {
            gap: 0.25rem;
            display: flex;
            flex-direction: column;
            position: relative;

            label {
              @include form-label;
            }

            input {
              @include form-input;
              padding-left: 0.1875rem;
            }

            select {
              @include form-input;
              border: 1px solid $forms-border;
            }

            input::placeholder,
            select::placeholder {
              @each $property, $value in $s-text {
                #{$property}: $value;
              }
              color: $input-placeholder;
              padding-left: 0.1875rem;
            }

            &.input-error input,
            &.input-error select {
              border-color: red;
            }

            &.input-success input,
            &.input-success select {
              border-color: #22c55e;
            }

            .error-icon,
            .success-icon {
              position: absolute;
              font-size: 1.125rem;
              right: 0.75rem;
              top: 55%;
              display: none;
            }

            .error-icon.show {
              color: red;
              display: block;
            }

            .success-icon.show {
              color: #22c55e;
              display: block;
            }

            .error-text,
            .success-text {
              padding: 0px 8px;
              border-radius: 4px;
              position: absolute;
              bottom: -1.5rem;
              left: 0;
              font-size: 0.875rem;
              display: none;
            }

            .error-text.show {
              background: rgba(239, 68, 68, 0.12);
              color: red;
              display: block;
            }

            .success-text.show {
              background: rgba(34, 197, 94, 0.12);
              color: #22c55e;
              display: block;
            }
          }

          input:focus,
          select:focus {
            outline: none;
            border: 2px solid $primary;
            box-shadow: 0 0 5px rgba($primary, 0.5);
          }
        }

        button[type="submit"] {
          @each $property, $value in $button-l {
            #{$property}: $value;
          }
          margin-bottom: 4.5rem;
          margin-top: 7.625rem;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.2s ease;

          &:hover,
          &:focus {
            background-color: darken($primary, 3%);
            transform: translateY(-2px);
          }

          &:active {
            background-color: lighten($primary, 5%);
          }
        }
      }
    }
  }
}

body.dark-theme .contact-navbar {
  background-color: rgba(255, 255, 255, 0.04);
}

body.dark-theme #contact-us {
  background: rgba(255, 255, 255, 0.04);

  .contact-info {
    h1 {
      color: white;
    }

    .contact-element {
      a.leave-message,
      a.send-application {
        &:hover,
        &:focus {
          color: #d946ef;
        }
      }

      &:active {
        color: lighten($primary, 10%);
      }
      .email-us-image {
        content: url("icons/email-us-dark.svg");
      }
      .careers-image {
        content: url("icons/careers-dark.svg");
      }

      .email-us-text,
      .careers-text {
        h4 {
          color: white;
        }
      }
    }
  }

  .consultation {
    background-color: #0b0f19fa;
    box-shadow: 2px 4px 15px rgba(255, 255, 255, 0.13);

    .consultation-wrapper {
      h3 {
        color: #f3f6ff;
      }

      #consultation-form {
        .form-group {
          input {
            background-color: rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.18);
            color: white;
            caret-color: rgba(255, 255, 255, 0.4);
          }

          select {
            background-color: rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.18);
            color: rgba(255, 255, 255, 0.7);
            caret-color: rgba(255, 255, 255, 0.4);
          }

          &.input-error input,
          &.input-error select {
            border-color: red;
          }

          &.input-success input,
          &.input-success select {
            border-color: #22c55e;
          }

          .error-icon,
          .success-icon {
            position: absolute;
            font-size: 1.125rem;
            right: 0.75rem;
            top: 55%;
            display: none;
          }

          .error-icon.show {
            color: red;
            display: block;
          }

          .success-icon.show {
            color: #22c55e;
            display: block;
          }

          .error-text,
          .success-text {
            padding: 0px 8px;
            border-radius: 4px;
            position: absolute;
            bottom: -1.5rem;
            left: 0;
            font-size: 0.875rem;
            display: none;
          }

          .error-text.show {
            background: rgba(239, 68, 68, 0.12);
            color: red;
            display: block;
          }

          .success-text.show {
            background: rgba(34, 197, 94, 0.12);
            color: #22c55e;
            display: block;
          }

          option {
            background-color: #161616;
            color: white;
          }

          label {
            color: #f3f6ff;
            opacity: 0.7;
          }

          input:focus,
          select:focus {
            outline: none;
            border: 2px solid $primary;
            box-shadow: 0 0 5px rgba($primary, 0.5);
          }
        }
      }
    }
  }
}

body.dark-theme #contact-us::after {
  background-color: #0b0f19;
}

#map-section {
  .map-container {
    display: flex;
    width: 100%;
    max-width: 81rem;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 33.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: stretch;

    .leaflet-container {
      border-radius: 8px;
      flex: 1;
      max-width: 39.75rem;
      min-height: 30.125rem !important;
    }

    .addresses {
      display: flex;
      flex-direction: column;
      max-width: 39.75rem;
      align-items: flex-end;
      flex: 1;
      gap: 3.125rem;
      min-height: 30.125rem !important;

      .medical-center {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
        align-items: flex-start;
        text-align: left;
        max-width: 28rem;

        span {
          color: $primary;
        }

        h4 {
          @each $property, $value in $heading-h4 {
            #{$property}: $value;
          }
        }

        p {
          display: flex;
          align-items: center;
          @each $property, $value in $m-text {
            #{$property}: $value;
          }
        }

        .times-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          @each $property, $value in $m-text {
            #{$property}: $value;
          }

          b {
            @each $property, $value in $m-text-h {
              #{$property}: $value;
            }
          }
          .time-entry {
            display: flex;
            align-items: center;
            gap: 0.4375rem;

            .material-icons-outlined {
              color: $primary;
            }

            .time-text {
              display: inline;
              font-weight: normal;

              b {
                font-weight: bold;
              }
            }
          }

          .time-entry.no-icon {
            padding-left: 1.9375rem;
          }
        }
      }
      .socials-icons {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;
        width: 100%;
        max-width: 28rem;
      }
    }

    button {
      transition: none;
      box-shadow: none;
      transform: none;
      transition: none;
      &:hover {
        background-color: lighten($secondary, 1.2%);
        transform: scale(1.1);
      }

      transition: background-color 0.2s ease, transform 0.1s ease;

      &:focus,
      &:active {
        box-shadow: none;
        outline: none;
        transform: scale(1);
      }
    }

    .facebook {
      @each $property, $value in $facebook-button {
        #{$property}: $value;
      }
    }
    .twitter {
      @each $property, $value in $twitter-button {
        #{$property}: $value;
      }
    }
    .instagram {
      @each $property, $value in $instagram-button {
        #{$property}: $value;
      }
    }
    .youtube {
      @each $property, $value in $youtube-button {
        #{$property}: $value;
      }
    }
  }
}

body.dark-theme #map-section {
  .addresses {
    button {
      &:hover {
        background-color: rgba(255, 255, 255, 0.09);
        transform: scale(1.1);
      }
    }

    .facebook {
      @each $property, $value in $facebook-button {
        #{$property}: $value;
        background-color: rgba(255, 255, 255, 0.05);
        background-image: url("icons/bxl-facebook-square-dark.svg");
      }
    }
    .twitter {
      @each $property, $value in $twitter-button {
        #{$property}: $value;
        background-color: rgba(255, 255, 255, 0.05);
        background-image: url("/icons/bxl-twitter-dark.svg");
      }
    }
    .instagram {
      @each $property, $value in $instagram-button {
        #{$property}: $value;
        background-color: rgba(255, 255, 255, 0.05);
        background-image: url("/icons/bxl-instagram-alt-dark.svg");
      }
    }
    .youtube {
      @each $property, $value in $youtube-button {
        #{$property}: $value;
        background-color: rgba(255, 255, 255, 0.05);
        background-image: url("/icons/bxl-youtube-dark.svg");
      }
    }
    .medical-center {
      h4 {
        color: white;
      }

      .times-wrapper {
        .time-entry {
          .time-text {
            b {
              color: #565973;
            }
          }
        }
      }
    }
  }
}
